@charset "UTF-8";

body {
    background-color: rgb(114, 177, 89);
}

main {
    display: flex;
    justify-content: center;
}

section.lista {
    display: flex;
    background-color: rgb(217, 247, 216);
    margin-top: 30px;
    width: 600px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

section.lista > h1 {
    color: rgb(0, 97, 0);
    font-size: 2em;
}
